.race_info {
  text-transform: uppercase;
  text-align: center;
  margin-top: 96px;
}

.race_countdown {
  font-weight: bold;
  font-size: 48px;
}

.race_countdown_description {
  margin: 0;
  font-size: 18px;
}
