@import './colors.css';
@import './fonts.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: 'Formula One', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: var(--purple_cinder);

  display: flex;
  min-height: 100vh;
  width: 100%;

  align-items: center;
}

.container {
  border-radius: 2px;
  background: var(--purple_steel);
  width: 62.5%;
  height: 600px;

  min-width: 720px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
