@import './colors.css';
@import './fonts.css';

body {
  margin: 0;
  font-family: 'Formula One', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: var(--purple_cinder);

  display: flex;
  min-height: 100vh;
  width: 100%;

  align-items: center;
}
