:root {
  --white: #fff;
  --white_alabaster: #f9f9f9;

  --green_screaming: #46ff59;

  --red_scarlet: #ff1e00;
  --red_wine: #a01907;

  --purple_cinder: #16151e;
  --purple_terminal: #1d1c29;
  --purple_steel: #242333;
  --purple_charade: #2f2d3d;
  --purple_topaz: #747189;

  --gray_cod: rgba(18, 18, 18, 0.4);
  --black_transparent: rgba(0, 0, 0, 0.2);
  --black: #000;
}
