:root {
  --font-default: 'Formula One';
}

@font-face {
  font-family: 'Formula One';
  src: url('/fonts/Formula1-Bold.woff2') format('woff2'),
    url('/fonts/Formula1-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Formula One';
  src: url('/fonts/Formula1-Black.woff2') format('woff2'),
    url('/fonts/Formula1-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Formula One';
  src: url('/fonts/Formula1-Regular.woff2') format('woff2'),
    url('/fonts/Formula1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
