@import './colors.css';

.input {
  background: var(--white);
  border: none;
  border-radius: 2px;

  padding: 12px;

  color: var(--purple_cinder);
  font-size: 16px;
}

.input_group {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 436px;
  margin-bottom: 12px;
}
