@import './colors.css';

.container {
  border-radius: 2px;
  background: var(--purple_steel);
  width: 62.5%;
  height: 600px;

  min-width: 720px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.quiz_logo {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.formula_logo {
  margin: 0 auto;
  display: block;
}

.title {
  font-weight: bold;
  line-height: 1;
  color: var(--white);
  text-transform: uppercase;
  margin: 50px 0 0;
}

.quiz_team_step {
  margin: 0 auto;
}
