@import './colors.css';

.input {
  background: var(--white);
  border: none;
  border-radius: 2px;

  padding: 12px;

  color: var(--purple_cinder);
  font-size: 16px;
  text-align: center;
  border-bottom: 2px solid transparent;

  transition: all 0.4s ease-in;
  transition-property: color, background, border-bottom-color;
}

.input[disabled] {
  color: var(--white);
  background: var(--gray_graphitti);
  border-bottom-color: var(--red_scarlet);
}

.input_group {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 436px;
  margin-bottom: 12px;
}

.input_group:last-child {
  margin: 0;
}
